
.jumbotron {
    padding: 2rem;
    background-color: black;
}
.jumbotron img {
    padding: 0.5rem;
}
.jumbotron h1 {
    font-family: monospace;
    color: aliceblue;
    padding: 1rem;
}
.jumbotron .lead {
    color: aliceblue;
    font-family: monospace;
}
.jumbotron .info {
    color:chartreuse;
}